.blackshield {
  &-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: auto;
    height: 100%;
    padding: 5rem;
    gap: 1rem;
  }

  &-wrap {
    width: 40vw;
    border-radius: 8px;
    padding: 2rem;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    position: relative;

    h2,
    p {
      text-align: center;
    }

    p {
      color: grey;
    }

    &::before {
      width: 7rem;
      height: 7rem;
      content: '';
      display: block;
      background-repeat: no-repeat;
      background-size: cover;
      background-image: url('../../assets/icon/ava1.png');
      position: absolute;
      top: -4.5rem;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, 0);
    }
  }
}

$speed: 0.5s;

.btn-flip {
  opacity: 1;
  outline: 0;
  color: #fff;
  line-height: 40px;
  position: relative;
  text-align: center;
  letter-spacing: 1px;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;

  &:hover {
    &:after {
      opacity: 1;
      transform: translateY(0) rotateX(0);
    }

    &:before {
      opacity: 0;
      transform: translateY(50%) rotateX(90deg);
    }
  }

  &:after {
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    color: #ffc0cb;
    display: block;
    transition: $speed;
    position: absolute;
    background: #ff4d6a;
    content: attr(data-back);
    transform: translateY(-50%) rotateX(90deg);
    border-radius: 8px;
  }

  &:before {
    top: 0;
    left: 0;
    opacity: 1;
    color: #ff4d6a;
    display: block;
    padding: 0 30px;
    line-height: 40px;
    transition: $speed;
    position: relative;
    background: #ffc0cb;
    content: attr(data-front);
    transform: translateY(0) rotateX(0);
    border-radius: 8px;
  }
}
